*{
    box-sizing: border-box;
}
body
{
    margin:0;
    padding: 0;
}
@import './libs/colors.scss';
@import './libs/mixins.scss';
@import './header.scss';
@import './main.scss';
@import './footer.scss';
