body {
	width: 100%;
	overflow-x: hidden;
}
.aside
{
	width: 340px;
	background-color:$asidePanelColor;
	position: relative;
	
	min-height: calc(100vh - 60px - 160px);
}
.content-wrapper
{	
	position: relative;	 
	width: calc(100vw - 400px);
	background-color:$leftPanelColor;
	
	font-size:20px;
	text-align:left;
	min-height: calc(100vh - 60px - 160px);
	.content 
	{	
		font-size:20px;
		width:100%;
		min-height:100%;
		h3 
		{
			margin:0;
		}	
	}
	.new-post {
		width:300px;
		margin:0 auto;
		h3
		{
			margin:0;
			text-align: center;
		}
		.form-ui
		{
			padding:10px;
			display:block;
			cursor: default;
			color:$mainFontColor;
			background-color:$loginPanelColor;
			border-radius:5px;
			.field
			{
				width: 85%;
				margin:8px auto;
				display: block;
				line-height: 1em;
				input[type=text]
				{
					display: block;
					width: 100%;
					border-radius:4px;
				}
				label
				{
					display: block;
					width: 100%;
				}		
			}
			input[type=submit]
				{
					display: block;
					margin:5px auto;
					@include defaultButton();
					line-height: 25px;
				}
		}
	}
}
.loginPanelRight
{
	background-color: $loginPanelColor;
	width:280px;
	height: auto;
	position: absolute;
	right:-280px;
	border-radius:0px 0px 0px 10px;
	top:60px;
	transition: all 1s;
	padding-bottom: 8px;
	.form
	{
		text-align: center;
		color:$mainFontColor;
		font-size: 16px;
		.field
		{
			width: 85%;
			margin:8px auto;
			display: block;
			line-height: 1em;
			label {
				display: block;
				padding:4px 0;
			}
			input {
				display:block;
				margin: 0 auto;
				border-radius: 4px;
				width: 100%;
				&:focus
				{
					outline:none;
				}
			}
		}
		.signInButton , .recoveryButton
		{	
			width:50%;
			margin:5px auto;
			display: block;
			@include defaultButton();
			i
			{
				padding:5px;
			}
		}
		.signInButton
		{
			margin-top:10px;
		}				
	}
}
.loginPanelRight--show
{
	right:0px;
}

